In [2]:
import pandas as pd
import numpy as np

In [3]:
orders=pd.read_csv('Orders.csv')
orders

,Unnamed: 0.1,Unnamed: 0,Order ID,Order Date,CustomerName,State,City
0,0,0,B-26055,2018-03-10,Harivansh,Uttar Pradesh,Mathura
1,1,1,B-25993,2018-02-03,Madhav,Delhi,Delhi
2,2,2,B-25973,2018-01-24,Madan Mohan,Uttar Pradesh,Mathura
3,3,3,B-25923,2018-12-27,Gopal,Maharashtra,Mumbai
4,4,4,B-25757,2018-08-21,Vishakha,Madhya Pradesh,Indore
...,...,...,...,...,...,...,...
495,495,495,B-25742,2018-08-03,Ashwin,Goa,Goa
496,496,496,B-26088,2018-03-26,Bhavna,Sikkim,Gangtok
497,497,497,B-25707,2018-07-01,Shivani,Maharashtra,Mumbai
498,498,498,B-25758,2018-08-22,Shubham,Himachal Pradesh,Simla
499,499,499,B-26095,2018-03-28,Monisha,Rajasthan,Jaipur

In [10]:
orders.columns

Index(['Order ID', 'Order Date', 'CustomerName', 'State', 'City'], dtype='object')

In [9]:
# orders.drop(['Unnamed: 0.1', 'Unnamed: 0'],axis=1,inplace=True)

In [11]:
# orders.to_csv('Orders.csv',index=False)

In [3]:
orders.dtypes

Unnamed: 0       int64
Order ID        object
Order Date      object
CustomerName    object
State           object
City            object
dtype: object

In [10]:
from datetime import datetime as dt
# dates=orders['Order Date']
orders['Order Date']=[dt.strptime(date,"%d/%m/%Y") for date in orders['Order Date']]

In [11]:
orders.dtypes

Unnamed: 0               int64
Order ID                object
Order Date      datetime64[ns]
CustomerName            object
State                   object
City                    object
dtype: object

In [13]:
orders

     Unnamed: 0 Order ID Order Date CustomerName             State     City
0             0  B-26055 2018-03-10    Harivansh     Uttar Pradesh  Mathura
1             1  B-25993 2018-02-03       Madhav             Delhi    Delhi
2             2  B-25973 2018-01-24  Madan Mohan     Uttar Pradesh  Mathura
3             3  B-25923 2018-12-27        Gopal       Maharashtra   Mumbai
4             4  B-25757 2018-08-21     Vishakha    Madhya Pradesh   Indore
..          ...      ...        ...          ...               ...      ...
495         495  B-25742 2018-08-03       Ashwin               Goa      Goa
496         496  B-26088 2018-03-26       Bhavna            Sikkim  Gangtok
497         497  B-25707 2018-07-01      Shivani       Maharashtra   Mumbai
498         498  B-25758 2018-08-22      Shubham  Himachal Pradesh    Simla
499         499  B-26095 2018-03-28      Monisha         Rajasthan   Jaipur

[500 rows x 6 columns]

In [ ]:
# dates=orders['Order Date']
# for date in dates:
#     date=date.replace('-',"""/""")

In [ ]:
# dates=[ date.replace('-',"""/""") for date in dates]

In [ ]:
# dates

In [ ]:
# orders['Transformed_order_date']=dates

In [ ]:
# orders

In [ ]:
# orders['Order Date']=orders['Transformed_order_date']
# # orders['Transformed_order_date'].drop()
# orders

In [ ]:
# orders.drop(['Transformed_order_date'],axis=1,inplace=True)

In [15]:
orders.to_csv('Orders.csv',index=True)